
nav {
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bold;
    background-color: gray;
    border-radius: 5px;
}

nav h1{
    margin: 0;
    text-decoration: none;
}

nav div{
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-style: normal;
    
}
nav a{
    color: blue;
    padding: 10px;
}

h1 {
    margin: 10px;
    text-decoration: underline;
}

#TableDiv {
    display: flex;
    flex-direction: row;
}

table {
    padding: 20px;
}

nav {
    width: 100%;
}